*,
*::before,
*::after{
    box-sizing: border-box;;
}

:root{
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-nav: 0.9rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width : 800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}
/*General styles*/

html{
    scroll-behavior: smooth;
}


body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold)}



/*Typography*/

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
    
    background-image: linear-gradient(to left, #2af598 0%, #576e7c 100%);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}



.section__subtitle--work {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    font-weight: 400;
}

/*Header*/
@media screen and (min-width: 800px){
header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.nav__list{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1.5em;
    gap: 3em;
    justify-content: space-between;
    font-size: var(--fs-nav);
}

.nav__link{
    color: var(--clr-dark);
    font-size: var(--fs-body);
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
}

.nav__link.CV {

    padding: 8px 20px;
    background-image: linear-gradient(to left, #2af598 0%, #576e7c 100%);
    border-radius: 20px;
    color: white;
}
.nav__link.CV:hover {
    color: var(--clr-dark);
}

.nav__link:hover{
    color: #2af598;
    text-decoration: none;
}
.nav-toggle{
    display: none;
}

}

@media screen and (max-width: 800px){
header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo{
    max-width: 100px;
}

.nav{
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    }

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 0;
 
}

.nav__link {
    color: inherit;
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
    text-decoration: none;
}

.nav-toggle {
    padding: 1.5em .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1000;
}

.nav-open .nav{
    transform: translateX(0%);
}

.nav-open .nav-toggle{
    position: fixed;
}

.nav-open .hamburger{
    transform: rotate(225deg);
}

.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(6px);
}
.nav-open .hamburger::after{
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute; /*needed*/
    left: 0;
    right: 0;
    
}

.hamburger::before { bottom: 6px;}
.hamburger::after { top: 6px;}
}



/*Intro section */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 800px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        object-fit: cover;
        box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
        display: block;
        transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
        margin-top: -10px;
    }
    .intro__img:hover {
        box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
        margin-top: 0;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        text-align: right;
        grid-row: 2;
        position: relative;
        right: 1.5em;
        width: calc(100% + 1.5em);
        margin-top: -3em;
    }
    
}

/* My services section */

.my-services {
    background-color: var(--clr-dark);
    background-size: cover;
    color: var(--clr-light);
    background-image: url("img/background.jpg");
    text-align: center;
    background-blend-mode: multiply;
}

.section__title--services {
    background: linear-gradient(to left, #2af598 0%, #576e7c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services{
    margin-bottom: 4em;
    
}

.btn{
    padding: .8rem 2rem;
    background-image: linear-gradient(to left, #2af598 0%, #576e7c 100%);
    border-radius: 30px;
    color: white;
    border: none;
    font-weight: 600;
    font-size: var(--fs-body);
}

.service{
 max-width: 500px;
 margin: 0 auto;
}

@media (min-width: 800px){
    .services{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }

    .service + .service{
        margin-left: 2em;
    }

}

/*About me section*/

.about-me {
    max-width: 1000px;
    margin: 0 auto 100px;
    padding-bottom: 0;
}
.about-me__img{
    box-shadow: var(--bs);
}
@media (min-width: 830px){
.section__subtitle--about{
margin-top: -3em;
}
.about-me__body{
    margin-top: -5em;
}

}



@media (min-width: 800px){
    .about-me{
        display: grid;
        margin: 0 auto;
        grid-column: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "body img";
            
    }
    .section__title--about{
        grid-area: title;
    }

    .section__subtitle--about{
        grid-area: subtitle;
        grid-column: 1 / -1;
        grid-row: 2;
        align-self: start;
        position: relative;
        width: calc(100% + 2em);
    }

    .about-me__img{
        grid-area: img;
        z-index: 10;
        position: relative;
        margin-bottom: 100px;
        
    }
    
   
}

/* My Work */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    
}
h2.section__title.section__title--work {
    background: linear-gradient(to left, #2af598 0%, #576e7c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2em;
}

.portfolio{
    display: flex;
    flex-direction: row;
}

.portfolio__img{
    display: flex;
    margin: 0 auto;
}

/*Footer section*/


.footer{
    text-align: center;
    background-color: black;
    color: var(--clr-light);
    padding: 2.5em 0;
}

.footer__link{
    color: var(--clr-light);
}
.footer__link:hover{
    text-decoration: none;
    color: var(--clr-accent);
}

.social-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}
.social-list__item{
margin: 0 1em;
}

.social-list__link{
    color: var(--clr-accent);
    padding: .5em;
}

/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}